@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


img{
    height: 100px;
    width: auto;
}
body{
    text-align: center;
    background-color: rgb(63, 82, 74);
}
.a{
    color:#add8ac
}
p{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Anton
', cursive;
}