@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


img{
    height: 100px;
    width: auto;
}
body{
    text-align: center;
    background-color: rgb(63, 82, 74);
    background-image: url("https://wallpapercave.com/wp/wp4193338.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.a{
    color:#f7f7f7
}
p{
    font-size: 20px;
    color: #d4ff00;
    font-family: 'Anton
', cursive;
}